.root-login {
  background-color: rgb(40, 40, 40);
  height: 100vh;
}

.card-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
  max-width: 350px;
  margin: 0 auto;
}

.card-login > div {
  margin: 10px 0;
}

.card-login > button {
  margin-top: 10px;
}